
body {
  background-image: url(https://media.timeout.com/images/101705309/image.jpg)/cdn.vox-cdn.com/uploads/chorus_image/image/56328225/190219_10_19_04_5DSR5554.12.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}